{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <!-- Top navbar start -->
    <div class="top">
        <div class="top-left">
            <img src="{% static 'images/download.png' %}">
        </div>
        <div class="top-right">
            <ul>
                <li class="">Find a Store</li>|
                <li class="">Help</li>|
                <li class="">Join Us</li>|
                <li class="">Sign In</li>
            </ul>
        </div>
    </div>
    <!-- Top navbar end -->
    
    <!-- Bottom navbar start -->
    <div class="bottom mt-1">
            <div class=" bottom-left">
                <img src="{% static 'images/download2.png' %}">
            </div>
            <div class="bottom-center">
                <ul id="collap">
                    <li class="dr">New & Featured
                        <div class="w-100" style="transition: 1s ease-in-out;">
                            <div class="flex-drop p-5 w-100" style="display:flex; justify-content: space-around;transition:1s ease-in-out;">
                            <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dr">Men
                        <div class="w-100" style="transition: 1s ease-in-out;">
                            <div class="flex-drop p-5 w-100" style="display:flex; justify-content: space-around;transition:1s ease-in-out;">
                            <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dr">Women
                        <div class="w-100" style="transition: 1s ease-in-out;">
                            <div class="flex-drop p-5 w-100" style="display:flex; justify-content: space-around;transition:1s ease-in-out;">
                            <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dr">Kids
                        <div class="w-100" style="transition: 1s ease-in-out;">
                            <div class="flex-drop p-5 w-100" style="display:flex; justify-content: space-around;transition:1s ease-in-out;">
                            <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dr">Sale
                        <div class="w-100" style="transition: 1s ease-in-out;">
                            <div class="flex-drop p-5 w-100" style="display:flex; justify-content: space-around;transition:1s ease-in-out;">
                            <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dr">Customise
                        <div class="w-100" style="transition: 1s ease-in-out;">
                            <div class="flex-drop p-5 w-100" style="display:flex; justify-content: space-around;transition:1s ease-in-out;">
                            <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dr">SNKRS
                        <div class="w-100" style="transition: 1s ease-in-out;">
                            <div class="flex-drop p-5 w-100" style="display:flex; justify-content: space-around;transition:1s ease-in-out;">
                            <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                              <ul style="display:block;">
                                <li><p>Men's Shoes</p></li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                                <li>All Men's Shoes</li>
                                <li>Men's Lifestyle Shoes</li>
                                <li>Men's Running Shoes</li>
                                <li>Men's Football Boots</li>
                              </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class=" bottom-right">
                
                <ul id="collap2">
                    <li class="search"><i class="fa-solid fa-magnifying-glass" style="margin-left:5px;margin-right:15px;"></i><input type="search" placeholder="Search"></li>
                    <li class="mt-2"><i class="fa-regular fa-heart"></i></li>
                    <li class="mt-2"><i class="fa-solid fa-bag-shopping"></i></li>
                </ul>
            </div>
            <ul id="collap3">
                <li class="mt-2" class=""><i class="fa-solid fa-bars" id="main-menu" onclick="toggle()"></i></li>
            </ul>
    </div>


    <!-- Bottom navbar end -->

     <!-- After Bottom navbar start -->
     <div class="after-navbar p-4">
        <ul>
            <li class="mt-2 mb-3" style="position:relative;left:90%;"><i class="fa-solid fa-xmark"  id="cross" onclick="toggle()" ></i></li>
            <li><span>New Featured</span><span>></span></li>
            <li><span>Men </span><span>></span></li>
            <li><span>Woman </span><span>></span></li>
            <li><span>Kids</span><span>></span></li>
            <li><span>Kids</span><span>></span></li>
        </ul>
     </div>
     <!-- After Bottom navbar end -->
    





	<script src="{% static 'js/index.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>